.owen-kanzler {
  height: 100vh;
  background-image: url("./assets/mountain.png");
  background-size: cover;
  position: relative;
}

.owen-kanzler .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.owen-kanzler span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Playfair Display";
  font-style: italic;
}

.owen-kanzler h1 {
  letter-spacing: 0.1rem;
  margin: 0;
  margin-left: 1.5rem;
  font-weight: 400;
}

.i-am,
.text {
  display: flex;
  gap: 0.5rem;
}

.owen-kanzler h4 {
  font-weight: 400;
  font-style: italic;
  font-family: "Playfair Display", sans-serif;
  margin: 0;
}

.text {
  align-self: center;
  margin-bottom: 2rem;
}

p {
  font-size: 1rem;
}

h6 {
  font-size: 1.333rem;
}

h5 {
  font-size: 1.777rem;
}

h4 {
  font-size: 2.369rem;
}

h3 {
  font-size: 3.157rem;
}

h2 {
  font-size: 4.209rem;
}

h1 {
  font-size: 6.61rem;
}
